# Use Python 3.10.* ot 3.9.*. You can install this directly from python.org, and then upgrade pip as well.

torch==2.0.1
torchvision==0.15.2 
torchaudio==2.0.2
torchtext==0.15.2
datasets==2.15.0
tokenizers==0.13.3
torchmetrics==1.0.3
tensorboard==2.13.0